.wrapper {
  width: 100%;
  height: 100vh;
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper2 {
    width: 50%;
    height: 40%;
    border: 1px solid green;


    .form {
      width: 60%;
      height: 100%;
      border-right: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;


      .inputBox {
        width: 384px;
        height: 55px;
        background:rgb(30, 41, 59);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          width: 300px;
          height: 100%;
          background:rgb(30, 41, 59);
          margin: auto;
          outline: none;
          border: none;
          font-size: 16px;
          color: #fff;
        }

        p {
          font-family: 'Monograf';
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          text-align: end;
        }

        
      }

      button {
        width: 100%;
        height: 100%;
        background: #2DB97C;
        border-radius: 10px;
        border: none;
        font-size: 18px;
      }
    }
  }
}



// .wrapper => login_wrapper__12322